# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Ignorar o arquivo .env
.env
.env.*
!.env.example
node_modules

# Secrets and Temp
ADMIN_TOKEN.txt
SUPERADMIN_TOKEN.txt
tmp_go/
frontend_build.log

