services:
  frontend:
    build: ./frontend
    container_name: frontend
    working_dir: /app
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    environment:
      - FRONTEND_URL=http://localhost:3000
      - NUXT_PUBLIC_API_BASE=http://localhost:8080
    command: "npm run dev"
    networks:
      - cdnproxy_net

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    networks:
      - cdnproxy_net

networks:
  cdnproxy_net:
    driver: bridge